In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os

sns.set_style("darkgrid")

In [2]:
path = '/Users/SonaSolarova/Documents/STUDIUM/Google_Certificate/8_Capstone_Case Study/case_study_Cyclistic/unpacked_data/08_2021_07_2022'
paths_list = [
    os.path.join(path, f) for f in os.listdir(path)
    if os.path.isfile(os.path.join(path, f))
]

In [3]:
dataframes = {}
for i, f in enumerate(os.listdir(path)):
    dataframes[f.split('.')[0]] = pd.read_csv(paths_list[i])
dataframes.keys()

dict_keys(['202205-divvy-tripdata', '202109-divvy-tripdata', '202206-divvy-tripdata', '202111-divvy-tripdata', '202112-divvy-tripdata', '202203-divvy-tripdata', '202202-divvy-tripdata', '202201-divvy-tripdata', '202110-divvy-tripdata', '202207-divvy-tripdata', '202204-divvy-tripdata', '202108-divvy-tripdata'])

In [5]:
df1 = dataframes['202205-divvy-tripdata']
df2 = dataframes['202109-divvy-tripdata']
df3 = dataframes['202206-divvy-tripdata']
df4 = dataframes['202111-divvy-tripdata']
df5 = dataframes['202112-divvy-tripdata']
df6 = dataframes['202203-divvy-tripdata']
df7 = dataframes['202202-divvy-tripdata']
df8 = dataframes['202201-divvy-tripdata']
df9 = dataframes['202110-divvy-tripdata']
df10 = dataframes['202207-divvy-tripdata']
df11 = dataframes['202204-divvy-tripdata']
df12 = dataframes['202108-divvy-tripdata']
union = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12])
print(union)

                 ride_id  rideable_type           started_at  \
0       EC2DE40644C6B0F4   classic_bike  2022-05-23 23:06:58
1       1C31AD03897EE385   classic_bike  2022-05-11 08:53:28
2       1542FBEC830415CF   classic_bike  2022-05-26 18:36:28
3       6FF59852924528F8   classic_bike  2022-05-10 07:30:07
4       483C52CAAE12E3AC   classic_bike  2022-05-10 17:31:56
...                  ...            ...                  ...
804347  5E5C9CD681E0419C   classic_bike  2021-08-07 18:07:43
804348  96FB57CF4AA456F6  electric_bike  2021-08-09 08:49:31
804349  226A0910DCCE904C   classic_bike  2021-08-12 16:55:57
804350  1A97D27AE23DE1E7   classic_bike  2021-08-08 22:47:43
804351  BBC36E4AA3652361  electric_bike  2021-08-27 18:53:53

                   ended_at                 start_station_name  \
0       2022-05-23 23:40:19             Wabash Ave & Grand Ave
1       2022-05-11 09:31:22  DuSable Lake Shore Dr & Monroe St
2       2022-05-26 18:58:18            Clinton St & Madison St
3       2022-05-10 07:38:49            Clinton St & Madison St
4       2022-05-10 17:36:57            Clinton St & Madison St
...                     ...                                ...
804347  2021-08-07 18:21:21           Wells St & Evergreen Ave
804348  2021-08-09 09:03:51             Broadway & Sheridan Rd
804349  2021-08-12 17:15:10             Dearborn St & Adams St
804350  2021-08-08 23:08:12             Broadway & Sheridan Rd
804351  2021-08-27 19:02:16            Paulina Ave & North Ave

       start_station_id             end_station_name end_station_id  \
0          TA1307000117       Halsted St & Roscoe St   TA1309000025
1                 13300  Field Blvd & South Water St          15534
2          TA1305000032      Wood St & Milwaukee Ave          13221
3          TA1305000032       Clark St & Randolph St   TA1305000030
4          TA1305000032          Morgan St & Lake St   TA1306000015
...                 ...                          ...            ...
804347     TA1308000049  Lincoln Ave & Diversey Pkwy   TA1307000064
804348            13323       Clark St & Lincoln Ave          13179
804349     TA1305000005       Clark St & Lincoln Ave          13179
804350            13323      Clark St & Winnemac Ave   TA1309000035
804351     TA1305000037        Dayton St & North Ave          13058

        start_lat  start_lng    end_lat    end_lng member_casual
0       41.891466 -87.626761  41.943670 -87.648950        member
1       41.880958 -87.616743  41.886349 -87.617517        member
2       41.882242 -87.641066  41.907655 -87.672552        member
3       41.882242 -87.641066  41.884576 -87.631890        member
4       41.882242 -87.641066  41.885779 -87.651025        member
...           ...        ...        ...        ...           ...
804347  41.906724 -87.634830  41.932225 -87.658617        member
804348  41.952709 -87.649940  41.915973 -87.634762        member
804349  41.879356 -87.629791  41.915689 -87.634600        member
804350  41.952833 -87.649993  41.973348 -87.667855        casual
804351  41.909851 -87.669808  41.910674 -87.649547        casual

[5901463 rows x 13 columns]

In [6]:
union['start_station_name'].nunique()

1381

In [8]:
union['end_station_name'].nunique()

1396

In [9]:
union['start_station_id'].nunique()

1226

In [10]:
union['end_station_id'].nunique()

1236

In [11]:
union['ride_id'].nunique()

5901463

In [13]:
union['member_casual'].value_counts()

member    3379237
casual    2522226
Name: member_casual, dtype: int64

In [28]:
git init
git add README.md  
git add GeeksForGeeks.ipynb
git commit -m "Cyclistic_Capstone_project" 
git remote add origin https://github.com/{Sonita}/GeeksForGeeks.git 
git push -u origin master

SyntaxError: invalid syntax (146747603.py, line 1)