In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os

sns.set_style("darkgrid")

In [2]:
path = '/Users/SonaSolarova/Documents/STUDIUM/Google_Certificate/8_Capstone_Case Study/case_study_Cyclistic/unpacked_data/08_2021_07_2022'
paths_list = [
    os.path.join(path, f) for f in os.listdir(path)
    if os.path.isfile(os.path.join(path, f))
]

In [3]:
dataframes = {}
for i, f in enumerate(os.listdir(path)):
    dataframes[f.split('.')[0]] = pd.read_csv(paths_list[i])
dataframes.keys()

dict_keys(['202205-divvy-tripdata', '202109-divvy-tripdata', '202206-divvy-tripdata', '202111-divvy-tripdata', '202112-divvy-tripdata', '202203-divvy-tripdata', '202202-divvy-tripdata', '202201-divvy-tripdata', '202110-divvy-tripdata', '202207-divvy-tripdata', '202204-divvy-tripdata', '202108-divvy-tripdata'])

In [5]:
df1 = dataframes['202205-divvy-tripdata']
df2 = dataframes['202109-divvy-tripdata']
df3 = dataframes['202206-divvy-tripdata']
df4 = dataframes['202111-divvy-tripdata']
df5 = dataframes['202112-divvy-tripdata']
df6 = dataframes['202203-divvy-tripdata']
df7 = dataframes['202202-divvy-tripdata']
df8 = dataframes['202201-divvy-tripdata']
df9 = dataframes['202110-divvy-tripdata']
df10 = dataframes['202207-divvy-tripdata']
df11 = dataframes['202204-divvy-tripdata']
df12 = dataframes['202108-divvy-tripdata']
union = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12])
print(union)

                 ride_id  rideable_type           started_at  \
0       EC2DE40644C6B0F4   classic_bike  2022-05-23 23:06:58
1       1C31AD03897EE385   classic_bike  2022-05-11 08:53:28
2       1542FBEC830415CF   classic_bike  2022-05-26 18:36:28
3       6FF59852924528F8   classic_bike  2022-05-10 07:30:07
4       483C52CAAE12E3AC   classic_bike  2022-05-10 17:31:56
...                  ...            ...                  ...
804347  5E5C9CD681E0419C   classic_bike  2021-08-07 18:07:43
804348  96FB57CF4AA456F6  electric_bike  2021-08-09 08:49:31
804349  226A0910DCCE904C   classic_bike  2021-08-12 16:55:57
804350  1A97D27AE23DE1E7   classic_bike  2021-08-08 22:47:43
804351  BBC36E4AA3652361  electric_bike  2021-08-27 18:53:53

                   ended_at                 start_station_name  \
0       2022-05-23 23:40:19             Wabash Ave & Grand Ave
1       2022-05-11 09:31:22  DuSable Lake Shore Dr & Monroe St
2       2022-05-26 18:58:18            Clinton St & Madison St
3       2022-05-10 07:38:49            Clinton St & Madison St
4       2022-05-10 17:36:57            Clinton St & Madison St
...                     ...                                ...
804347  2021-08-07 18:21:21           Wells St & Evergreen Ave
804348  2021-08-09 09:03:51             Broadway & Sheridan Rd
804349  2021-08-12 17:15:10             Dearborn St & Adams St
804350  2021-08-08 23:08:12             Broadway & Sheridan Rd
804351  2021-08-27 19:02:16            Paulina Ave & North Ave

       start_station_id             end_station_name end_station_id  \
0          TA1307000117       Halsted St & Roscoe St   TA1309000025
1                 13300  Field Blvd & South Water St          15534
2          TA1305000032      Wood St & Milwaukee Ave          13221
3          TA1305000032       Clark St & Randolph St   TA1305000030
4          TA1305000032          Morgan St & Lake St   TA1306000015
...                 ...                          ...            ...
804347     TA1308000049  Lincoln Ave & Diversey Pkwy   TA1307000064
804348            13323       Clark St & Lincoln Ave          13179
804349     TA1305000005       Clark St & Lincoln Ave          13179
804350            13323      Clark St & Winnemac Ave   TA1309000035
804351     TA1305000037        Dayton St & North Ave          13058

        start_lat  start_lng    end_lat    end_lng member_casual
0       41.891466 -87.626761  41.943670 -87.648950        member
1       41.880958 -87.616743  41.886349 -87.617517        member
2       41.882242 -87.641066  41.907655 -87.672552        member
3       41.882242 -87.641066  41.884576 -87.631890        member
4       41.882242 -87.641066  41.885779 -87.651025        member
...           ...        ...        ...        ...           ...
804347  41.906724 -87.634830  41.932225 -87.658617        member
804348  41.952709 -87.649940  41.915973 -87.634762        member
804349  41.879356 -87.629791  41.915689 -87.634600        member
804350  41.952833 -87.649993  41.973348 -87.667855        casual
804351  41.909851 -87.669808  41.910674 -87.649547        casual

[5901463 rows x 13 columns]

In [6]:
union['start_station_name'].nunique()

1381

In [8]:
union['end_station_name'].nunique()

1396

In [9]:
union['start_station_id'].nunique()

1226

In [10]:
union['end_station_id'].nunique()

1236

In [11]:
union['ride_id'].nunique()

5901463

In [13]:
union['member_casual'].value_counts()

member    3379237
casual    2522226
Name: member_casual, dtype: int64

In [28]:
git init
git add README.md  
git add GeeksForGeeks.ipynb
git commit -m "Cyclistic_Capstone_project" 
git remote add origin https://github.com/{Sonita}/GeeksForGeeks.git 
git push -u origin master

SyntaxError: invalid syntax (146747603.py, line 1)

In [38]:
union.groupby('start_station_id').sum()

                      start_lat      start_lng        end_lat        end_lng
start_station_id
021320              5864.600000  -12275.200000    5866.000309  -12274.513330
1011                1718.720000   -3599.390000    1718.900000   -3598.960000
1012                 209.010000    -438.050000     209.034982    -438.073124
1013                 293.230000    -614.110000     293.254603    -614.056304
1016                  41.990000     -87.720000      41.980000     -87.690000
...                         ...            ...            ...            ...
chargingstx0        2306.283185   -4820.899030    2306.010169   -4820.865661
chargingstx1      215544.266579 -450707.638204  215423.287349 -450431.630513
chargingstx3      239783.565701 -501788.148789  239789.982280 -501674.348830
chargingstx4      134745.658662 -281977.495536  134684.049968 -281791.120145
chargingstx5      145879.029468 -304918.680704  145825.347604 -304807.869721

[1226 rows x 4 columns]

In [41]:
union = union.create(columns=['start_station_name','start_station_id','end_station_name','end_station_id'])
union = union.drop(columns=['start_lat','start_lng','end_lat','end_lng'])
union.tail()

AttributeError: 'DataFrame' object has no attribute 'create'

In [43]:
# Import files 
dataframes = {}
for i, f in enumerate(os.listdir(path)):
    dataframes[f.split('.')[0]] = pd.read_csv(paths_list[i])
dataframes.keys()

dict_keys(['202205-divvy-tripdata', '202109-divvy-tripdata', '202206-divvy-tripdata', '202111-divvy-tripdata', '202112-divvy-tripdata', '202203-divvy-tripdata', '202202-divvy-tripdata', '202201-divvy-tripdata', '202110-divvy-tripdata', '202207-divvy-tripdata', '202204-divvy-tripdata', '202108-divvy-tripdata'])

In [44]:
# All the tables have the same structure, so I apply union to create one table.
df1 = dataframes['202205-divvy-tripdata']
df2 = dataframes['202109-divvy-tripdata']
df3 = dataframes['202206-divvy-tripdata']
df4 = dataframes['202111-divvy-tripdata']
df5 = dataframes['202112-divvy-tripdata']
df6 = dataframes['202203-divvy-tripdata']
df7 = dataframes['202202-divvy-tripdata']
df8 = dataframes['202201-divvy-tripdata']
df9 = dataframes['202110-divvy-tripdata']
df10 = dataframes['202207-divvy-tripdata']
df11 = dataframes['202204-divvy-tripdata']
df12 = dataframes['202108-divvy-tripdata']
union = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12])
print(union)

                 ride_id  rideable_type           started_at  \
0       EC2DE40644C6B0F4   classic_bike  2022-05-23 23:06:58
1       1C31AD03897EE385   classic_bike  2022-05-11 08:53:28
2       1542FBEC830415CF   classic_bike  2022-05-26 18:36:28
3       6FF59852924528F8   classic_bike  2022-05-10 07:30:07
4       483C52CAAE12E3AC   classic_bike  2022-05-10 17:31:56
...                  ...            ...                  ...
804347  5E5C9CD681E0419C   classic_bike  2021-08-07 18:07:43
804348  96FB57CF4AA456F6  electric_bike  2021-08-09 08:49:31
804349  226A0910DCCE904C   classic_bike  2021-08-12 16:55:57
804350  1A97D27AE23DE1E7   classic_bike  2021-08-08 22:47:43
804351  BBC36E4AA3652361  electric_bike  2021-08-27 18:53:53

                   ended_at                 start_station_name  \
0       2022-05-23 23:40:19             Wabash Ave & Grand Ave
1       2022-05-11 09:31:22  DuSable Lake Shore Dr & Monroe St
2       2022-05-26 18:58:18            Clinton St & Madison St
3       2022-05-10 07:38:49            Clinton St & Madison St
4       2022-05-10 17:36:57            Clinton St & Madison St
...                     ...                                ...
804347  2021-08-07 18:21:21           Wells St & Evergreen Ave
804348  2021-08-09 09:03:51             Broadway & Sheridan Rd
804349  2021-08-12 17:15:10             Dearborn St & Adams St
804350  2021-08-08 23:08:12             Broadway & Sheridan Rd
804351  2021-08-27 19:02:16            Paulina Ave & North Ave

       start_station_id             end_station_name end_station_id  \
0          TA1307000117       Halsted St & Roscoe St   TA1309000025
1                 13300  Field Blvd & South Water St          15534
2          TA1305000032      Wood St & Milwaukee Ave          13221
3          TA1305000032       Clark St & Randolph St   TA1305000030
4          TA1305000032          Morgan St & Lake St   TA1306000015
...                 ...                          ...            ...
804347     TA1308000049  Lincoln Ave & Diversey Pkwy   TA1307000064
804348            13323       Clark St & Lincoln Ave          13179
804349     TA1305000005       Clark St & Lincoln Ave          13179
804350            13323      Clark St & Winnemac Ave   TA1309000035
804351     TA1305000037        Dayton St & North Ave          13058

        start_lat  start_lng    end_lat    end_lng member_casual
0       41.891466 -87.626761  41.943670 -87.648950        member
1       41.880958 -87.616743  41.886349 -87.617517        member
2       41.882242 -87.641066  41.907655 -87.672552        member
3       41.882242 -87.641066  41.884576 -87.631890        member
4       41.882242 -87.641066  41.885779 -87.651025        member
...           ...        ...        ...        ...           ...
804347  41.906724 -87.634830  41.932225 -87.658617        member
804348  41.952709 -87.649940  41.915973 -87.634762        member
804349  41.879356 -87.629791  41.915689 -87.634600        member
804350  41.952833 -87.649993  41.973348 -87.667855        casual
804351  41.909851 -87.669808  41.910674 -87.649547        casual

[5901463 rows x 13 columns]

In [45]:
# I delete columns which I won't work in my analysis with.
union = union.drop(columns=['start_lat','start_lng','end_lat','end_lng'])
union.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual
804347,5E5C9CD681E0419C,classic_bike,2021-08-07 18:07:43,2021-08-07 18:21:21,Wells St & Evergreen Ave,TA1308000049,Lincoln Ave & Diversey Pkwy,TA1307000064,member
804348,96FB57CF4AA456F6,electric_bike,2021-08-09 08:49:31,2021-08-09 09:03:51,Broadway & Sheridan Rd,13323,Clark St & Lincoln Ave,13179,member
804349,226A0910DCCE904C,classic_bike,2021-08-12 16:55:57,2021-08-12 17:15:10,Dearborn St & Adams St,TA1305000005,Clark St & Lincoln Ave,13179,member
804350,1A97D27AE23DE1E7,classic_bike,2021-08-08 22:47:43,2021-08-08 23:08:12,Broadway & Sheridan Rd,13323,Clark St & Winnemac Ave,TA1309000035,casual
804351,BBC36E4AA3652361,electric_bike,2021-08-27 18:53:53,2021-08-27 19:02:16,Paulina Ave & North Ave,TA1305000037,Dayton St & North Ave,13058,casual

In [48]:
# Check for the datatypes of each column.
union.dtypes

ride_id               object
rideable_type         object
started_at            object
ended_at              object
start_station_name    object
start_station_id      object
end_station_name      object
end_station_id        object
member_casual         object
dtype: object

In [49]:
# Convert datatypes.
union['started_at'] = union['started_at'].astype('datetime64')
union['ended_at'] = union['ended_at'].astype('datetime64')

In [57]:
# Find out the duration of each ride. Int32: This Struct is used to represents 32-bit signed integer. The 
#Int32 can store both types of values including negative and positive between the ranges of -2147483648 to +2147483647.
union['ride_duration'] = (union['ended_at'] - union['started_at'])/pd.Timedelta(minutes=1)
union['ride_duration'] = union['ride_duration'].astype('int32')
display(union)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,ride_duration
0,EC2DE40644C6B0F4,classic_bike,2022-05-23 23:06:58,2022-05-23 23:40:19,Wabash Ave & Grand Ave,TA1307000117,Halsted St & Roscoe St,TA1309000025,member,33
1,1C31AD03897EE385,classic_bike,2022-05-11 08:53:28,2022-05-11 09:31:22,DuSable Lake Shore Dr & Monroe St,13300,Field Blvd & South Water St,15534,member,37
2,1542FBEC830415CF,classic_bike,2022-05-26 18:36:28,2022-05-26 18:58:18,Clinton St & Madison St,TA1305000032,Wood St & Milwaukee Ave,13221,member,21
3,6FF59852924528F8,classic_bike,2022-05-10 07:30:07,2022-05-10 07:38:49,Clinton St & Madison St,TA1305000032,Clark St & Randolph St,TA1305000030,member,8
4,483C52CAAE12E3AC,classic_bike,2022-05-10 17:31:56,2022-05-10 17:36:57,Clinton St & Madison St,TA1305000032,Morgan St & Lake St,TA1306000015,member,5
...,...,...,...,...,...,...,...,...,...,...
804347,5E5C9CD681E0419C,classic_bike,2021-08-07 18:07:43,2021-08-07 18:21:21,Wells St & Evergreen Ave,TA1308000049,Lincoln Ave & Diversey Pkwy,TA1307000064,member,13
804348,96FB57CF4AA456F6,electric_bike,2021-08-09 08:49:31,2021-08-09 09:03:51,Broadway & Sheridan Rd,13323,Clark St & Lincoln Ave,13179,member,14
804349,226A0910DCCE904C,classic_bike,2021-08-12 16:55:57,2021-08-12 17:15:10,Dearborn St & Adams St,TA1305000005,Clark St & Lincoln Ave,13179,member,19
804350,1A97D27AE23DE1E7,classic_bike,2021-08-08 22:47:43,2021-08-08 23:08:12,Broadway & Sheridan Rd,13323,Clark St & Winnemac Ave,TA1309000035,casual,20
804351,BBC36E4AA3652361,electric_bike,2021-08-27 18:53:53,2021-08-27 19:02:16,Paulina Ave & North Ave,TA1305000037,Dayton St & North Ave,13058,casual,8

In [58]:
union.sort_values(by = 'ride_duration')

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,ride_duration
585672,38B9F148CE80499B,electric_bike,2022-06-07 19:23:03,2022-06-07 17:05:38,NaN,NaN,NaN,NaN,casual,-137
126109,B897BE02B21FA75E,electric_bike,2022-06-07 19:15:39,2022-06-07 17:05:37,NaN,NaN,Kostner Ave & North Ave,519,casual,-130
301277,BF114472ABA0289C,electric_bike,2022-06-07 19:14:47,2022-06-07 17:05:42,Base - 2132 W Hubbard,Hubbard Bike-checking (LBS-WH-TEST),W Armitage Ave & N Sheffield Ave,20254.0,member,-129
126532,072E947E156D142D,electric_bike,2022-06-07 19:14:46,2022-06-07 17:07:45,W Armitage Ave & N Sheffield Ave,20254.0,W Armitage Ave & N Sheffield Ave,20254.0,casual,-127
576451,BBD84670E05463A9,electric_bike,2022-06-07 19:11:33,2022-06-07 17:05:24,NaN,NaN,NaN,NaN,casual,-126
...,...,...,...,...,...,...,...,...,...,...
173598,C8DD5E89BE2DAD7B,docked_bike,2021-11-06 16:53:11,2021-12-01 00:10:54,Dearborn Pkwy & Delaware Pl,TA1307000128,NaN,NaN,casual,34997
610068,94DD1FB2367EA8B6,docked_bike,2022-06-15 07:56:59,2022-07-10 04:57:37,Michigan Ave & 14th St,TA1307000124,NaN,NaN,casual,35820
590027,DCFE0DB8022DFABC,docked_bike,2022-05-08 00:28:53,2022-06-02 04:46:41,Sheffield Ave & Fullerton Ave,TA1306000016,NaN,NaN,casual,36257
360554,A310C7270FD730B6,docked_bike,2021-10-02 18:35:36,2021-10-31 01:00:37,Dusable Harbor,KA1503000064,Wells St & Elm St,KA1504000135,casual,40705
192711,E25E58F5E94EE351,docked_bike,2021-08-01 18:53:10,2021-08-30 16:42:20,Michigan Ave & Jackson Blvd,TA1309000002,Daley Center Plaza,TA1306000010,casual,41629

In [59]:
union[union['ride_duration'] < 0].count()

ride_id               96
rideable_type         96
started_at            96
ended_at              96
start_station_name    74
start_station_id      74
end_station_name      72
end_station_id        72
member_casual         96
ride_duration         96
dtype: int64

In [61]:
# Drop rows with the negative value
union = pd.DataFrame(union)
union1 = union.loc[union['ride_duration']>=0]

In [62]:
union1[union1['ride_duration'] < 0].count()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
member_casual         0
ride_duration         0
dtype: int64

In [64]:
# False starts - the company should find out why this happen. 
# I report this issue in the analysis and delete these rows
union1[union1['ride_duration'] < 1].count()

ride_id               104463
rideable_type         104463
started_at            104463
ended_at              104463
start_station_name     78488
start_station_id       78488
end_station_name       70905
end_station_id         70905
member_casual         104463
ride_duration         104463
dtype: int64

In [65]:
union1 = pd.DataFrame(union1)
union2 = union1.loc[union1['ride_duration']>1]
union2[union2['ride_duration'] < 1].count()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
member_casual         0
ride_duration         0
dtype: int64

In [72]:
n_start_rides = union2.groupby('start_station_id')['ride_id'].count()
print(n_start_rides)

start_station_id
021320           128
1011              31
1012               4
1013               7
1016               1
                ...
chargingstx0      49
chargingstx1    4686
chargingstx3    5214
chargingstx4    2942
chargingstx5    3152
Name: ride_id, Length: 1224, dtype: int64

In [81]:
member_rides = union2.groupby('member_casual')['ride_id'].count()
print(member_rides)

member_casual
casual    2456702
member    3245180
Name: ride_id, dtype: int64

In [84]:
# Convert datatypes for each column.
union2 = union2.astype({'ride_id':'string','start_station_name':'string','start_station_id':'string','end_station_name':'string','end_station_id':'string','rideable_type':'category', 'member_casual':'category'})
union2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5701882 entries, 0 to 804351
Data columns (total 10 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             string
 1   rideable_type       category
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  string
 5   start_station_id    string
 6   end_station_name    string
 7   end_station_id      string
 8   member_casual       category
 9   ride_duration       int32
dtypes: category(2), datetime64[ns](2), int32(1), string(5)
memory usage: 380.6 MB

In [85]:
# Print null values
union2.isna().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    812554
start_station_id      812552
end_station_name      862401
end_station_id        862401
member_casual              0
ride_duration              0
dtype: int64

In [86]:
union2.shape

(5701882, 10)

In [87]:
# Drop all rows with any NaN and NaT values
union3 = union2.dropna()
union3.isna().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
member_casual         0
ride_duration         0
dtype: int64

In [88]:
# Number of rows and columns
union3.shape

(4494737, 10)

In [97]:
# Strip Leading and Trailing Space of the column ride_id
union3['ride_id'] = union3['ride_id'].str.strip()
print (union3)

                 ride_id  rideable_type          started_at  \
0       EC2DE40644C6B0F4   classic_bike 2022-05-23 23:06:58
1       1C31AD03897EE385   classic_bike 2022-05-11 08:53:28
2       1542FBEC830415CF   classic_bike 2022-05-26 18:36:28
3       6FF59852924528F8   classic_bike 2022-05-10 07:30:07
4       483C52CAAE12E3AC   classic_bike 2022-05-10 17:31:56
...                  ...            ...                 ...
804347  5E5C9CD681E0419C   classic_bike 2021-08-07 18:07:43
804348  96FB57CF4AA456F6  electric_bike 2021-08-09 08:49:31
804349  226A0910DCCE904C   classic_bike 2021-08-12 16:55:57
804350  1A97D27AE23DE1E7   classic_bike 2021-08-08 22:47:43
804351  BBC36E4AA3652361  electric_bike 2021-08-27 18:53:53

                  ended_at                 start_station_name  \
0      2022-05-23 23:40:19             Wabash Ave & Grand Ave
1      2022-05-11 09:31:22  DuSable Lake Shore Dr & Monroe St
2      2022-05-26 18:58:18            Clinton St & Madison St
3      2022-05-10 07:38:49            Clinton St & Madison St
4      2022-05-10 17:36:57            Clinton St & Madison St
...                    ...                                ...
804347 2021-08-07 18:21:21           Wells St & Evergreen Ave
804348 2021-08-09 09:03:51             Broadway & Sheridan Rd
804349 2021-08-12 17:15:10             Dearborn St & Adams St
804350 2021-08-08 23:08:12             Broadway & Sheridan Rd
804351 2021-08-27 19:02:16            Paulina Ave & North Ave

       start_station_id             end_station_name end_station_id  \
0          TA1307000117       Halsted St & Roscoe St   TA1309000025
1                 13300  Field Blvd & South Water St          15534
2          TA1305000032      Wood St & Milwaukee Ave          13221
3          TA1305000032       Clark St & Randolph St   TA1305000030
4          TA1305000032          Morgan St & Lake St   TA1306000015
...                 ...                          ...            ...
804347     TA1308000049  Lincoln Ave & Diversey Pkwy   TA1307000064
804348            13323       Clark St & Lincoln Ave          13179
804349     TA1305000005       Clark St & Lincoln Ave          13179
804350            13323      Clark St & Winnemac Ave   TA1309000035
804351     TA1305000037        Dayton St & North Ave          13058

       member_casual  ride_duration
0             member             33
1             member             37
2             member             21
3             member              8
4             member              5
...              ...            ...
804347        member             13
804348        member             14
804349        member             19
804350        casual             20
804351        casual              8

[4494737 rows x 10 columns]

/var/folders/rk/4r2mgfhd1qx8p9xhmf7v1wxr0000gp/T/ipykernel_49117/4245366568.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  union3['ride_id'] = union3['ride_id'].str.strip()

In [98]:
# Strip Leading and Trailing Space of the column start_station_id
union3['start_station_id'] = union3['start_station_id'].str.strip()
print (union3)

                 ride_id  rideable_type          started_at  \
0       EC2DE40644C6B0F4   classic_bike 2022-05-23 23:06:58
1       1C31AD03897EE385   classic_bike 2022-05-11 08:53:28
2       1542FBEC830415CF   classic_bike 2022-05-26 18:36:28
3       6FF59852924528F8   classic_bike 2022-05-10 07:30:07
4       483C52CAAE12E3AC   classic_bike 2022-05-10 17:31:56
...                  ...            ...                 ...
804347  5E5C9CD681E0419C   classic_bike 2021-08-07 18:07:43
804348  96FB57CF4AA456F6  electric_bike 2021-08-09 08:49:31
804349  226A0910DCCE904C   classic_bike 2021-08-12 16:55:57
804350  1A97D27AE23DE1E7   classic_bike 2021-08-08 22:47:43
804351  BBC36E4AA3652361  electric_bike 2021-08-27 18:53:53

                  ended_at                 start_station_name  \
0      2022-05-23 23:40:19             Wabash Ave & Grand Ave
1      2022-05-11 09:31:22  DuSable Lake Shore Dr & Monroe St
2      2022-05-26 18:58:18            Clinton St & Madison St
3      2022-05-10 07:38:49            Clinton St & Madison St
4      2022-05-10 17:36:57            Clinton St & Madison St
...                    ...                                ...
804347 2021-08-07 18:21:21           Wells St & Evergreen Ave
804348 2021-08-09 09:03:51             Broadway & Sheridan Rd
804349 2021-08-12 17:15:10             Dearborn St & Adams St
804350 2021-08-08 23:08:12             Broadway & Sheridan Rd
804351 2021-08-27 19:02:16            Paulina Ave & North Ave

       start_station_id             end_station_name end_station_id  \
0          TA1307000117       Halsted St & Roscoe St   TA1309000025
1                 13300  Field Blvd & South Water St          15534
2          TA1305000032      Wood St & Milwaukee Ave          13221
3          TA1305000032       Clark St & Randolph St   TA1305000030
4          TA1305000032          Morgan St & Lake St   TA1306000015
...                 ...                          ...            ...
804347     TA1308000049  Lincoln Ave & Diversey Pkwy   TA1307000064
804348            13323       Clark St & Lincoln Ave          13179
804349     TA1305000005       Clark St & Lincoln Ave          13179
804350            13323      Clark St & Winnemac Ave   TA1309000035
804351     TA1305000037        Dayton St & North Ave          13058

       member_casual  ride_duration
0             member             33
1             member             37
2             member             21
3             member              8
4             member              5
...              ...            ...
804347        member             13
804348        member             14
804349        member             19
804350        casual             20
804351        casual              8

[4494737 rows x 10 columns]

/var/folders/rk/4r2mgfhd1qx8p9xhmf7v1wxr0000gp/T/ipykernel_49117/350550098.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  union3['start_station_id'] = union3['start_station_id'].str.strip()

In [99]:
# Strip Leading and Trailing Space of the column end_station_id
union3['end_station_id'] = union3['end_station_id'].str.strip()
print (union3)

                 ride_id  rideable_type          started_at  \
0       EC2DE40644C6B0F4   classic_bike 2022-05-23 23:06:58
1       1C31AD03897EE385   classic_bike 2022-05-11 08:53:28
2       1542FBEC830415CF   classic_bike 2022-05-26 18:36:28
3       6FF59852924528F8   classic_bike 2022-05-10 07:30:07
4       483C52CAAE12E3AC   classic_bike 2022-05-10 17:31:56
...                  ...            ...                 ...
804347  5E5C9CD681E0419C   classic_bike 2021-08-07 18:07:43
804348  96FB57CF4AA456F6  electric_bike 2021-08-09 08:49:31
804349  226A0910DCCE904C   classic_bike 2021-08-12 16:55:57
804350  1A97D27AE23DE1E7   classic_bike 2021-08-08 22:47:43
804351  BBC36E4AA3652361  electric_bike 2021-08-27 18:53:53

                  ended_at                 start_station_name  \
0      2022-05-23 23:40:19             Wabash Ave & Grand Ave
1      2022-05-11 09:31:22  DuSable Lake Shore Dr & Monroe St
2      2022-05-26 18:58:18            Clinton St & Madison St
3      2022-05-10 07:38:49            Clinton St & Madison St
4      2022-05-10 17:36:57            Clinton St & Madison St
...                    ...                                ...
804347 2021-08-07 18:21:21           Wells St & Evergreen Ave
804348 2021-08-09 09:03:51             Broadway & Sheridan Rd
804349 2021-08-12 17:15:10             Dearborn St & Adams St
804350 2021-08-08 23:08:12             Broadway & Sheridan Rd
804351 2021-08-27 19:02:16            Paulina Ave & North Ave

       start_station_id             end_station_name end_station_id  \
0          TA1307000117       Halsted St & Roscoe St   TA1309000025
1                 13300  Field Blvd & South Water St          15534
2          TA1305000032      Wood St & Milwaukee Ave          13221
3          TA1305000032       Clark St & Randolph St   TA1305000030
4          TA1305000032          Morgan St & Lake St   TA1306000015
...                 ...                          ...            ...
804347     TA1308000049  Lincoln Ave & Diversey Pkwy   TA1307000064
804348            13323       Clark St & Lincoln Ave          13179
804349     TA1305000005       Clark St & Lincoln Ave          13179
804350            13323      Clark St & Winnemac Ave   TA1309000035
804351     TA1305000037        Dayton St & North Ave          13058

       member_casual  ride_duration
0             member             33
1             member             37
2             member             21
3             member              8
4             member              5
...              ...            ...
804347        member             13
804348        member             14
804349        member             19
804350        casual             20
804351        casual              8

[4494737 rows x 10 columns]

/var/folders/rk/4r2mgfhd1qx8p9xhmf7v1wxr0000gp/T/ipykernel_49117/871422641.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  union3['end_station_id'] = union3['end_station_id'].str.strip()

In [117]:
# Remove duplicates according primary key
union3[union3['ride_id'].duplicated()]

Empty DataFrame
Columns: [ride_id, rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, member_casual, ride_duration, journey]
Index: []

In [103]:
union3.groupby("start_station_name", sort=False)["ride_id"].count()

start_station_name
Wabash Ave & Grand Ave                  28582
DuSable Lake Shore Dr & Monroe St       40277
Clinton St & Madison St                 25092
Carpenter St & Huron St                 11021
Noble St & Milwaukee Ave                 8944
                                        ...
Sangamon St & 79th St                       1
Western Ave & 111th St - SW                 1
Public Rack - Al Raby School                1
Public Rack - Stony Island & 87th St        1
351                                         1
Name: ride_id, Length: 1295, dtype: int64

In [116]:
# Top used start_station_id by ride_id count
union3.groupby("start_station_id", sort=False)["ride_id"].count()

start_station_id
TA1307000117    28582
13300           40277
TA1305000032    25092
13196           11021
13290            8944
                ...
934                 1
887                 1
679                 1
940                 1
DIVVY 001           1
Name: ride_id, Length: 1161, dtype: int64

In [103]:
# Top used start_station_name by ride_id count
union3.groupby("start_station_name", sort=False)["ride_id"].count()

start_station_name
Wabash Ave & Grand Ave                  28582
DuSable Lake Shore Dr & Monroe St       40277
Clinton St & Madison St                 25092
Carpenter St & Huron St                 11021
Noble St & Milwaukee Ave                 8944
                                        ...
Sangamon St & 79th St                       1
Western Ave & 111th St - SW                 1
Public Rack - Al Raby School                1
Public Rack - Stony Island & 87th St        1
351                                         1
Name: ride_id, Length: 1295, dtype: int64

In [107]:
# Top used end_station_id by ride_id count
union3.groupby("end_station_name", sort=False)["ride_id"].count()

end_station_name
Halsted St & Roscoe St                               21311
Field Blvd & South Water St                          12551
Wood St & Milwaukee Ave                              15228
Clark St & Randolph St                               14926
Morgan St & Lake St                                  19804
                                                     ...
Public Rack - Cicero Ave & Le Moyne St - midblock        1
Michigan Ave & 113th St                                  1
Halsted St & 80th St                                     1
Public Rack - Laramie Ave & Warwick Ave                  1
Ada St & 119th St                                        1
Name: ride_id, Length: 1314, dtype: int64

In [106]:
# Average ride_duration by users
union3.groupby('member_casual',sort=True)['ride_duration'].mean()

member_casual
casual    26.677002
member    12.532500
Name: ride_duration, dtype: float64

In [109]:
# Combine to columns start_station_name & end_station_name to create new column "journey"
union3["journey"] = union3['start_station_name'].astype(str) +"-"+ union3["end_station_name"]
print(union3)

                 ride_id  rideable_type          started_at  \
0       EC2DE40644C6B0F4   classic_bike 2022-05-23 23:06:58
1       1C31AD03897EE385   classic_bike 2022-05-11 08:53:28
2       1542FBEC830415CF   classic_bike 2022-05-26 18:36:28
3       6FF59852924528F8   classic_bike 2022-05-10 07:30:07
4       483C52CAAE12E3AC   classic_bike 2022-05-10 17:31:56
...                  ...            ...                 ...
804347  5E5C9CD681E0419C   classic_bike 2021-08-07 18:07:43
804348  96FB57CF4AA456F6  electric_bike 2021-08-09 08:49:31
804349  226A0910DCCE904C   classic_bike 2021-08-12 16:55:57
804350  1A97D27AE23DE1E7   classic_bike 2021-08-08 22:47:43
804351  BBC36E4AA3652361  electric_bike 2021-08-27 18:53:53

                  ended_at                 start_station_name  \
0      2022-05-23 23:40:19             Wabash Ave & Grand Ave
1      2022-05-11 09:31:22  DuSable Lake Shore Dr & Monroe St
2      2022-05-26 18:58:18            Clinton St & Madison St
3      2022-05-10 07:38:49            Clinton St & Madison St
4      2022-05-10 17:36:57            Clinton St & Madison St
...                    ...                                ...
804347 2021-08-07 18:21:21           Wells St & Evergreen Ave
804348 2021-08-09 09:03:51             Broadway & Sheridan Rd
804349 2021-08-12 17:15:10             Dearborn St & Adams St
804350 2021-08-08 23:08:12             Broadway & Sheridan Rd
804351 2021-08-27 19:02:16            Paulina Ave & North Ave

       start_station_id             end_station_name end_station_id  \
0          TA1307000117       Halsted St & Roscoe St   TA1309000025
1                 13300  Field Blvd & South Water St          15534
2          TA1305000032      Wood St & Milwaukee Ave          13221
3          TA1305000032       Clark St & Randolph St   TA1305000030
4          TA1305000032          Morgan St & Lake St   TA1306000015
...                 ...                          ...            ...
804347     TA1308000049  Lincoln Ave & Diversey Pkwy   TA1307000064
804348            13323       Clark St & Lincoln Ave          13179
804349     TA1305000005       Clark St & Lincoln Ave          13179
804350            13323      Clark St & Winnemac Ave   TA1309000035
804351     TA1305000037        Dayton St & North Ave          13058

       member_casual  ride_duration  \
0             member             33
1             member             37
2             member             21
3             member              8
4             member              5
...              ...            ...
804347        member             13
804348        member             14
804349        member             19
804350        casual             20
804351        casual              8

                                                  journey
0           Wabash Ave & Grand Ave-Halsted St & Roscoe St
1       DuSable Lake Shore Dr & Monroe St-Field Blvd &...
2         Clinton St & Madison St-Wood St & Milwaukee Ave
3          Clinton St & Madison St-Clark St & Randolph St
4             Clinton St & Madison St-Morgan St & Lake St
...                                                   ...
804347  Wells St & Evergreen Ave-Lincoln Ave & Diverse...
804348      Broadway & Sheridan Rd-Clark St & Lincoln Ave
804349      Dearborn St & Adams St-Clark St & Lincoln Ave
804350     Broadway & Sheridan Rd-Clark St & Winnemac Ave
804351      Paulina Ave & North Ave-Dayton St & North Ave

[4494737 rows x 11 columns]

/var/folders/rk/4r2mgfhd1qx8p9xhmf7v1wxr0000gp/T/ipykernel_49117/2056728282.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  union3["journey"] = union3['start_station_name'].astype(str) +"-"+ union3["end_station_name"]

In [112]:
# Top used journeys by ride_id count
union3.groupby("journey", sort=False)["ride_id"].count()

journey
Wabash Ave & Grand Ave-Halsted St & Roscoe St         64
DuSable Lake Shore Dr & Monroe St-Field Blvd &...    315
Clinton St & Madison St-Wood St & Milwaukee Ave       62
Clinton St & Madison St-Clark St & Randolph St       131
Clinton St & Madison St-Morgan St & Lake St          317
                                                    ...
Racine Ave & 13th St-Laramie Ave & Kinzie St           1
Cottage Grove Ave & 51st St-Clark St & Lincoln...      1
Kedzie Ave & 21st St-Loomis St & Lexington St          1
Kedzie Ave & Chicago Ave-Dayton St & North Ave         1
Wabash Ave & 16th St-Dayton St & North Ave             1
Name: ride_id, Length: 167614, dtype: int64

In [ ]:
union3['year'] = union3['started_at'].dt.year

cats1 = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
union3['month'] = union3['started_at'].dt.month_name()
union3['month'] = union3['month'].astype(CategoricalDtype(categories=cats1, ordered=False))

cats2 = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
union3['day_of_week'] = union3['started_at'].dt.day_name()
union3['day_of_week'] = union3['day_of_week'].astype(CategoricalDtype(categories=cats2, ordered=False))

union3['hour'] = union3['started_at'].dt.hour
union3 = union3.astype({'year':'int16', 'hour':'int8'})

union3.head()